<header class="full-line-wrap">
    <div class="valid-line-wrap header-body">
        <div class="user-info">
            <div class="username">
                <span class="welcome">Hi</span>
                <span class="user-icon"></span>
                <span class="name oe" title="1640125615@qq.com">1640125615@qq.com</span>
                <span class="quitlogin"><a href="/logout">退出</a></span>
            </div>
            <div class="username">
                <span class="welcome">Hi</span>
                <span class="name oe" title="请登录">请登录</span>
            </div>
            <div class="messages">(<span>136</span>)</div>
        </div>
        <div class="operate">
            <a class="supplier" href="#">我是供应商</a>
            <a class="buyer" href="#">我是采购商</a>
            <a class="home" href="#">个人中心</a>
            <a class="favorite" href="#">收藏夹</a>
        </div>
    </div>
</header>
<div class="search-bar">
    <div class="search-bar-content valid-line-wrap">
        <div class="logo">
            <a href="#"><img src="../../../assets/img/logo.png" alt="分销商城"></a>
            <a class="company" href="#">
                二狗子旗舰店
                <span>V7</span>
            </a>
        </div>
        <div class="search">
            <div class="search-type">
                <ul>
                    <li>货源</li>
                    <li>供应商</li>
                </ul>
            </div>
            <div class="search-input">
                <input type="text" placeholder="输入产品名称" maxlength="50">
            </div>
            <button class="search-btn shop">搜本店</button>
            <button class="search-btn all">搜全站</button>
        </div>
    </div>
</div>
<div class="company-banner">
    <img src="../../../assets/img/company-banner.jpg">
</div>
<div class="menu">
    <ul class="valid-line-wrap">
        <li><a href="#">首页</a></li>
        <li><a href="#">所有产品</a></li>
        <li><a href="#">活动专区</a></li>
        <li><a href="#">公司档案</a></li>
        <li><a href="#">公司相册</a></li>
    </ul>
</div>
<div class="detail-wrap full-line-wrap">
    <div class="detail valid-line-wrap">
        <h2 class="commodity-name">现货供应POWER TNY254PN IC集成电路</h2>
        <div class="detail-body">
            <div class="preview">
                <div class="now-img">
                    <img src="../../../assets/img/detail-lg-01.jpg">
                </div>
                <ul>
                    <li class="active">
                        <img src="../../../assets/img/detail-sm-01.jpg" alt="01">
                    </li>
                    <li>
                        <img src="../../../assets/img/detail-sm-02.jpg" alt="01">
                    </li>
                    <li>
                        <img src="../../../assets/img/detail-sm-03.jpg" alt="01">
                    </li>
                </ul>
            </div>
            <div class="order-info">
                <div class="price-info">
                    <table>
                        <tr class="price">
                            <td class="table-item-title">价格</td>
                            <td>￥3.5</td>
                            <td>￥3.3</td>
                            <td>￥3.1</td>
                        </tr>
                        <tr class="amount">
                            <td class="table-item-title">起批量</td>
                            <td>10-99</td>
                            <td>100-999</td>
                            <td>≥1000</td>
                        </tr>
                    </table>
                </div>
                <div class="logistics">
                    <span class="item-title">物流</span>
                    <span>广东 深圳</span>
                </div>
                <div class="brand">
                    <span class="item-title">产品品牌</span>
                    <span>AOS/美国万代</span>
                </div>
                <div class="model">
                    <span class="item-title">产品型号</span>
                    <span>AOZ1242DI</span>
                </div>
                <div class="deal-reply">
                    <div class="item-title">成交/评价</div>
                    <a class="deal">
                        <span>0</span>成交
                    </a>
                    <a class="reply">
                        <span>0</span>条评价
                    </a>
                </div>
                <div class="buy-num">
                    <div class="item-title">采购量</div>
                    <div class="operate-area">
                        <button class="dec">-</button>
                        <input type="text">
                        <button class="add">+</button>
                    </div>
                    <div class="can-buy">(2100000个可售)</div>
                </div>
                <div class="order-operate">
                    <button class="buy-now">立即订购</button>
                    <button class="add-to-list">加入进货单</button>
                </div>
            </div>
            <div class="company-info">
                <div class="company-logo">
                    <img src="../../../assets/img/company-logo.png" alt="logo">
                </div>
                <h2 class="company-name oe">
                    <a href="#">唯创知音电子源头厂家</a>
                </h2>
                <ul class="company-aptitude">
                    <li class="verify"><a href="#">证</a></li>
                    <li class="credit"><a href="#">信</a></li>
                    <li class="period"><a href="#">账</a></li>
                    <li class="level"><a href="#">Lv8</a></li>
                </ul>
                <ul class="contact-company">
                    <li>
                        <span class="item-title">联系卖家</span>
                        <span class="item-content">张晓光</span>
                    </li>
                    <li>
                        <span class="item-title">电话</span>
                        <span class="item-content">021-88589658</span>
                    </li>
                    <li>
                        <span class="item-title">手机</span>
                        <span class="item-content">15659875648</span>
                    </li>
                    <li>
                        <span class="item-title">经营模式</span>
                        <span class="item-content">生产厂家</span>
                    </li>
                    <li>
                        <span class="item-title">所在地区</span>
                        <span class="item-content">广东 深圳</span>
                    </li>
                </ul>
                <div class="company-operate">
                    <button>进入店铺</button>
                    <button>收藏店铺</button>
                </div>
            </div>
        </div>
        <div class="detail-footer">
            <ul class="detail-footer-nav">
                <li [ngClass]="{'active':show=='detail'}" (click)="changeShow(0)">详细信息</li>
                <li [ngClass]="{'active':show=='reply'}" (click)="changeShow(1)">商品评价</li>
                <li [ngClass]="{'active':show=='after-sale'}" (click)="changeShow(2)">售后服务</li>
            </ul>
            <div *ngIf="show=='detail'" class="detail-item">
                <table>
                    <tbody>
                    <tr>
                        <td class="de-feature">类型</td>
                        <td class="de-value">其他IC</td>
                        <td class="de-feature">品牌</td>
                        <td class="de-value">WT/唯创知音</td>
                        <td class="de-feature">型号</td>
                        <td class="de-value">WT588C-16S</td>
                    </tr>
                    <tr>
                        <td class="de-feature">功率</td>
                        <td class="de-value">0.5W</td>
                        <td class="de-feature">用途</td>
                        <td class="de-value">其他</td>
                        <td class="de-feature">特色服务</td>
                        <td class="de-value">支持定制</td>
                    </tr>
                    <tr>
                        <td class="de-feature">封装</td>
                        <td class="de-value">SOP16</td>
                        <td class="de-feature">批号</td>
                        <td class="de-value">V2016-7</td>
                        <td class="de-feature"></td>
                    </tr>
                    </tbody>
                </table>
                <img src="../../../assets/img/detail-01.jpg" alt="商品详情">
                <img src="../../../assets/img/detail-02.jpg" alt="商品详情">
                <img src="../../../assets/img/detail-03.jpg" alt="商品详情">
                <img src="../../../assets/img/detail-04.jpg" alt="商品详情">
            </div>
            <div *ngIf="show=='reply'" class="reply-item">暂无评论</div>
            <div *ngIf="show=='after-sale'" class="after-sale-item">
                <h2>批发说明</h2>
                <p>
                    供应商支持混批 ，300元以上起批 或者 20PCS以上起批。<br>
                    什么是混批？
                </p>
                <em>混批是指不限产品的种类和样式，买家只要采购总价（或总量）达到或高于设置金额（或数量）即可享受批发价格。</em>
            </div>
        </div>
    </div>
</div>
<footer class="full-line-wrap">
    <div class="valid-line-wrap footer-body">
        <p>Copyright 2015沪ICP备15035021号 上海蜜瓜科技有限公司 All rights reserved</p>
    </div>
</footer>
