/* S-头部样式 */
header{
    height: 54px;
    background: #df575b;
    border-bottom: 1px solid #ccc;
}
header .header-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
header .user-info{
    display: flex;
}
.username{
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 7px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0;
}
header .username span,
header .username a{
    display: inline-block;
    height: 100%;
    font-size: 12px;
    vertical-align: middle;
    color: #fff;
}
header .username span.welcome{
    padding: 0 10px;
}
header .username span.name{
    max-width: 240px;
    margin-right: 10px;
}
header .username .user-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../../assets/img/hd-user-icon.png") no-repeat;
}
header .username .quitlogin{
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background: #df575b;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #E3E6E1;
}
header .username .quitlogin a{
    display: block;
    width: 40px;
    height: 20px;
    color: #fff;
}
header .messages{
    margin-top: 7px;
    width: 44px;
    height: 40px;
    line-height: 40px;
    padding-left: 35px;
    color: #fff;
    font-size: 16px;
    background: url("../../../assets/img/hd-messages.png") no-repeat 12px 10px;
    cursor: pointer;
}
header .messages span{
    color: #efc686;
}
header .messages:hover{
    background: url("../../../assets/img/hd-messages-pressed.png") no-repeat 12px 10px;
}
header .messages:hover span{
    color: #E8AD4F;
}
header .operate{
    display: flex;
}
.operate a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    color: #fff;
}
/* E-头部样式 */
/* S-搜索框样式 */
.search-bar{
    height: 100px;
    background: #fff;
}
.search-bar-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.search-bar-content .logo{
    display: flex;
    align-items: center;
    width: 150px;
    height: 100%;
}
.search-bar-content .logo img{
    width: 150px;
}
.search-bar-content .search{
    display: flex;
    width: 620px;
    height: 40px;
    border: 2px solid #f99800;
}
.search-bar-content .search .search-type{
    width: 10%;
    border-right: 1px solid #eee;
}
.search-bar-content .search .search-btn{
    width: 20%;
}
.search-bar-content .search .search-type ul{
    position: relative;
    overflow: hidden;
    height: 40px;
    transition: .3s;
}
.search-bar-content .search .search-type ul:after{
    content: '';
    position: absolute;
    top: 18px;
    right: 20px;
    display: block;
    width: 8px;
    height: 4px;
    background: url("../../../assets/img/arrow-down.png") no-repeat;
}
.search-bar-content .search .search-type ul:hover{
    height: 80px;
    background: #fafafa;
}
.search-bar-content .search .search-type ul li{
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 10%;
    cursor: pointer;
}
.search-bar-content .search .search-input{
    width: 70%;
}
.search-bar-content .search .search-input input{
    width: 100%;
    height: 100%;
    padding-left: 5px;
}
.search-bar-content .search .search-btn{
    background: #f99800;
    color: #fff;
    font-size: 16px;
}
.search-nav{
    display: inline-block;
}
.search-nav a{
    margin-left: 10px;
    display: inline-block;
    width: 98px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    padding: 5px 0;
    background-color: #df575b;
    color: #fff;
    font-size: 13px;
}
/* E-搜索框样式 */
/* S-主导航样式 */
.nav{
    background: #fff;
    border-bottom: 2px solid #f99800;
}
.nav-body{
    display: flex;
}
.nav .nav-title{
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background: #f99800;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
}
.nav .nav-content{
    flex: 1;
    display: flex;
    padding-left: 40px;
}
.nav .nav-content li{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.nav .nav-content a{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 16px;
    color: #666;
}
.nav .nav-content a:hover{
    color: #f99800;
}
/* E-主导航样式 */
/* S-首屏样式 */
.first-screen{
    display: flex;
    height: 360px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.menu{
    position: relative;
    width: 200px;
    background: #fff;
}
.menu li{
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}
.menu li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 14px;
}
.menu li a:hover{
    color: #f99800;
}
.menu-item-detail{
    position: absolute;
    top: 0;
    left: 200px;
    width: 720px;
    min-height: 340px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 3px 6px 1px rgba(50,50,50,.08);
    box-sizing: border-box;
    z-index: 2;
}
.menu-item-detail dl dt{
    font-size: 14px;
    color: #f99800;
}
.menu-item-detail ul li{
    margin-right: 20px;
    display: inline-block;
    padding-left: 0;
}
.banner{
    width: 740px;
    height: 340px;
    padding: 20px;
    box-sizing: border-box;
}
.swiper-container{
    background: #fff;
    width: 100%;
    height: 100%;
}
.swiper-pagination{
    top: auto;
    bottom: 0;
}
.page1{
    background: url("../../../assets/img/banner1.png") no-repeat center;
    background-size: 100% 100%;
}
.page2{
    background: url("../../../assets/img/banner2.jpg") no-repeat center;
    background-size: 100% 100%;
}
.page3{
    background: url("../../../assets/img/banner1.png") no-repeat center;
    background-size: 100% 100%;
}
.page4{
    background: url("../../../assets/img/banner2.jpg") no-repeat center;
    background-size: 100% 100%;
}
.personal{
    margin-top: 20px;
    width: 260px;
    height: 300px;
    padding-top: 100px;
    background: #fff;
    box-sizing: border-box;
}
.personal h2{
    text-align: center;
}
.personal p{
    text-align: center;
    color: #666;
}
.personal .activity{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.personal .activity a{
    display: inline-block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #f99800;
    box-sizing: border-box;
}
.personal .base-info{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
/* E-首屏样式 */
/* S-产品列表 */
.product-list{
    width: 1220px;
}
.product-list ul{
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}
.product{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    width: 280px;
    height: 340px;
    background: #fff;
}
.product .left-content{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.product .right-content{
    width: 80px;
}
.product .left-content h2{
    margin-top: 20px;
    height: 27px;
    line-height: 27px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: #333;
}
.product .left-content a{
    flex: 1;
    display: flex;
    align-items: center;
}
.product .left-content a:hover img{
    transform: scale(1.1);
}
.product .left-content img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 160px;
    transition: .3s;
}
.product .right-content{
    background: #fafafa;
}
.product .right-content ul{
    display: flex;
    flex-direction: column;
}
.product .right-content ul li{
    margin-bottom: 10px;
    text-align: center;
}
.product .right-content ul li a{
    color: #333;
}
/* E-产品列表 */
/* S-尾部样式 */
footer{
    background: #DBD4C0;
}
.footer-body{
    padding: 50px 0;
    text-align: center;
    color: #918972;
}
/* E-尾部样式 */
